# Dependencies
node_modules
bower_components

# Build output
dist
tmp
out-tsc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# IDEs and editors
.idea
.vscode
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.lock
coverage