name: Deploy

on:
  push:
    paths:
      - prisma/migrations/**
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version:

      - name: Install dependencies
        run: npm install

      - name: Apply all pending migrations to the database
        run: npx prisma migrate resolve --applied 20250116200555_remove_user_githubauth_relation
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
